{
  "extends": ["react-app", "prettier", "eslint:recommended", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "no-unused-vars": "warn",
    "import/no-anonymous-default-export": "off",
    "jsx-a11y/alt-text": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-unreachable": "warn",
    "react-hooks/rules-of-hooks": "off",
    "react-hooks/exhaustive-deps": "off"
  }
}
